<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>TripWay: multiplayer educational travel game</title>
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <link rel="shortcut icon" href="{{ asset('assets/img/favicon.ico') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/icon-font.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/style_singin.css') }}">
    </head>
    <body>
        <!-- Modal -->
        <div class="modal fade" id="modal-startGame" tabindex="-1" role="dialog" aria-labelledby="modal-startGame-label" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        {{ render(controller("FOSUserBundle:Security:login")) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="page-wrapper">
            {% block content %}{% endblock %}
            <header class="header v-center bg-midnight-blue">
                <div class="background">
                    &nbsp;
                </div>
                <div>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="hero-unit">
                                    <h1><b><span>Trip</span>Way</b></h1>
                                    <p>
                                    Multiplayer educational travel game
                                    </p>
                                </div>
                                <div class="btns">
                                    <a class="btn btn-hg btn-inverse" href="#" data-toggle="modal" data-target="#modal-startGame">Start game</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <section class="description">
                <div class="container">
                    <div class="row features">
                        <div class="col-sm-3 box-1">
                            <div class="description-top">
                                Our team has prepared great quests that will help extend your knowledge about countries, cities and natural sites.
                                <img src="{{ asset('assets/img/arrow-tl@2x.png') }}" width="61" height="97" alt="">
                            </div><div class="img">
                            <img src="{{ asset('assets/img/screen-1-bw@2x.jpg') }}" width="220" height="391" alt="">
                            <img src="{{ asset('assets/img/screen-1@2x.jpg') }}" width="220" height="391" alt="">
                        </div>
                    </div>
                    <div class="col-sm-3 box-2">
                        <div class="img">
                            <img src="{{ asset('assets/img/screen-2-bw@2x.jpg') }}" width="220" height="391" alt="">
                            <img src="{{ asset('assets/img/screen-2@2x.jpg') }}" width="220" height="391" alt="">
                        </div>
                        <div class="description-bottom">
                            Did you know that Guam is the only country in the world where roads are made from the coral? That's true, there is no natural sand, so the asphalt is amde using corals and petrol. Learn other interesting facts completing our quests!
                            <img src="{{ asset('assets/img/arrow-br@2x.png') }}" width="97" height="110" alt="">
                        </div>
                    </div>
                    <div class="col-sm-3 box-3">
                        <div class="description-top">
                            You need to be attentive and inventive in some points to solve our quests. Follow the game to discover more!
                            <img src="{{ asset('assets/img/arrow-tr@2x.png') }}" width="61" height="97" alt="">
                        </div><div class="img">
                        <img src="{{ asset('assets/img/screen-3-bw@2x.jpg') }}" width="220" height="391" alt="">
                        <img src="{{ asset('assets/img/screen-3@2x.jpg') }}" width="220" height="391" alt="">
                    </div>
                </div>
                <div class="col-sm-3 box-4">
                    <div class="img">
                        <img src="{{ asset('assets/img/screen-4-bw@2x.jpg') }}" width="220" height="391" alt="">
                        <img src="{{ asset('assets/img/screen-4@2x.jpg') }}" width="220" height="391" alt="">
                    </div>
                    <div class="description-bottom">
                        You will find a lot of interesting places that will awake your travel bug. Once it happens, share it with your friends and start you adventure in the real life! Keep learning and meeting new people with our game.
                        <img src="{{ asset('assets/img/arrow-br@2x.png') }}" width="97" height="110" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="rules bg-clouds">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h3>There are two major steps in the game:</h3>
                    <p>1. To start the game you will need to properly locate on the map 5 cities in 20 seconds. We will check your results. Closer you are to the real location of the cities, more points you get! So try to be more presize tapping over the map.</p>
                    <p>2. The second step is to comlete a quest game in 5 random cities of the world. You start the game from your own city! Each game contains 5 quests and opens next round only after it is completed.<br />
                    This virtual travel will make you discover new facts about the greatest places in the world. So, complete the quests one by one moving from one city to another. Try to be fast answering the questions because less time you spend, more points you get! <br />
                    Visiting the most wonderful places through our game you will find some points of interest that will make you wish see it in the real life.</p>
                    <p>You can even compete with your friends! Just invite them to join you in our game, and compare your results.<br />Good luck!</p>
                </div>
                <div class="col-sm-6 ani-processed" style="opacity: 1;">
                    <span class="pull-right svg">
                    <svg version="1.1" id="spaceship" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="402px" height="401px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
                    <circle id="bg" fill="#dfe1e2" cx="50" cy="50" r="50"></circle>
                    <g id="Stars" clip-path="url(#starmask)">
                    <path id="star0" opacity="0.2" fill="#f6f8f8" enable-background="new    " d="M91,4.5c2.55-0.45,4.051-1.95,4.5-4.5c0.45,2.55,1.951,4.05,4.5,4.5c-2.549,0.451-4.05,1.95-4.5,4.5C95.051,6.45,93.55,4.951,91,4.5z"></path>
                    <path id="star1" opacity="0.1" fill="#f6f8f8" enable-background="new    " d="M91,4.5c2.55-0.45,4.051-1.95,4.5-4.5c0.45,2.55,1.951,4.05,4.5,4.5c-2.549,0.451-4.05,1.95-4.5,4.5C95.051,6.45,93.55,4.951,91,4.5z"></path>
                    <path id="star2" opacity="0.1" fill="#f6f8f8" enable-background="new    " d="M91,4.5c2.55-0.45,4.051-1.95,4.5-4.5c0.45,2.55,1.951,4.05,4.5,4.5c-2.549,0.451-4.05,1.95-4.5,4.5C95.051,6.45,93.55,4.951,91,4.5z"></path>
                    </g>
                    <clipPath id="starmask">
                    <circle cx="50" cy="50" r="50"></circle>
                    </clipPath>
                    <clipPath id="rocketmask2">
                    <path id="rocketmask1" d="M100,50c0,27.614-22.387,50-50,50C22.386,100,0,77.614,0,50S22.386,0,50,0c14.117,0,50,0,50,0S100,36.503,100,50z" transform=" translate(0,0)"></path>
                    </clipPath>
                    <g id="rocket-maskgroup">
                    <g id="rocket-raw" clip-path="url(#rocketmask2)" transform=" translate(0,0)">
                    <path id="det7" fill="#E94B35" d="M100,0.1c-0.156,0.018-0.117,0.058-0.1-0.1C76.584,2.979,63.361,12.281,55.865,22.035c-0.268,0.349-0.528,0.698-0.782,1.047c-0.002,0.003-0.005,0.007-0.008,0.01C47.015,34.196,46.087,45.812,46,49h-1l-1,3l4,4l3-1v-1c1.152-0.021,3.741-0.111,7.066-0.773l0.002,0.002C58.797,53.047,59,53.305,59,57c0,4.062,0,6.609,0,9c0,1.809,0.943,2.497,1.945,1.494c2.423-2.428,3.003-3.023,8.5-8.528c4.16-4.167,4.676-6.595,2.957-11.059C83.953,41.369,96.432,27.888,100,0.1z"></path>
                    <path id="det6" fill="#C23824" d="M48,56l-4-4l1-3h2l4,4v2L48,56z M52,28c-1.718-0.69-2-1-4-1s-4.183,1.38-6.861,4.063c-4.254,4.259-4.85,4.839-8.516,8.508C31.425,40.771,33.263,41,36,41c5.233,0,9.297-0.125,10.791,1.42C48.764,44.46,52,28,52,28z"></path>
                    <path id="det5" fill="#C23824" d="M100,0C100.1,0,100,0,100,0c-0.639,4.973-1.566,9.579-2.721,13.678c-1.049-1.97-2.562-4.364-4.5-6.272c-2.151-2.12-4.812-3.632-6.826-4.585C91.979,1.091,96.783,0.412,100,0z"></path>
                    <path id="det4" opacity="0.3" fill="#FFFFFF" enable-background="new    " d="M72.402,47.907c1.719,4.463,1.312,6.788-2.854,10.954c-0.844,0.844-7.828,7.859-8.604,8.633C59.941,68.496,59.033,67.809,59,66c-0.01-0.521,0.003,0.021,0-0.652c3-3,9.689-8.938,11-11.348c0.768-1.411,0.352-3.654,0-5c-3.312,1.76-11.516,4.094-11.932,4.229l0,0C54.906,53.875,52.467,53.943,51,54v-0.656c0,0,29.975-9.663,49-53.344c0.014,0-0.064,0.008,0,0C96.406,28.047,83.953,41.369,72.402,47.907z"></path>
                    <g id="det3">
                    <path fill="#FFFFFF" d="M77.5,28c-3.584,0-6.5-2.916-6.5-6.5s2.916-6.5,6.5-6.5s6.5,2.916,6.5,6.5S81.084,28,77.5,28z"></path>
                    <path fill="#C23824" d="M77.5,16c3.037,0,5.5,2.462,5.5,5.5S80.537,27,77.5,27S72,24.538,72,21.5S74.463,16,77.5,16 M77.5,14c-4.137,0-7.5,3.364-7.5,7.5s3.363,7.5,7.5,7.5s7.5-3.364,7.5-7.5S81.637,14,77.5,14L77.5,14z"></path>
                    </g>
                    <path id="det2" fill="#f4f5f6" d="M44,52l4,4L13,92l-6-6L44,52z"></path>
                    <path id="det1" fill="#d4d8d8" d="M43.875,52l2,2L7.5,91.5l-3-3L43.875,52z"></path>
                    </g>
                    </g>
                    </svg>
                </span><img class="pull-right nosvg" src="{{ asset('assets/img/rocket-big@2x.png') }}" alt="" width="402" height="401"></div>
            </div>
        </div>
    </section>
    <section class="banner-start">
        <a class="wide btn-wide" href="#" data-toggle="modal" data-target="#modal-startGame"><b>START GAME</b></a>
    </section>
    <section class="contacts">
        <div class="container">
            <div class="content">
                <div class="social-btns">
                    <a href="https://twitter.com/piplosmedia">
                    <div class="fui-twitter"></div>
                    <div class="fui-twitter"></div>
                    </a>
                    <a href="https://www.facebook.com/piplos">
                    <div class="fui-facebook"></div>
                    <div class="fui-facebook"></div>
                    </a>
                </div>
                <h3>Get in touch with us</h3>
                <p>
                design, UI, mackup, server configuration, marketing - <b>Dmitry Shurco</b><br />
                coding game, mackup, create architecture - <b>Raman Marozau</b><br />
                coding game, mackup, work with the API - <b>Eugene Danilenko</b>
                </p>
                <div class="links">
                    <a href="mailto:info@piplos.by">info@piplos.by</a>
                </div>
            </div>
        </div>
    </section>
</div>
<script src="{{ asset('assets/js/jquery-1.10.2.min.js') }}"></script>
<script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('assets/js/modernizr.custom.js') }}"></script>
<script src="{{ asset('assets/js/jquery.parallax.min.js') }}"></script>
<script src="{{ asset('assets/js/startup-kit.js') }}"></script>
<script src="{{ asset('assets/js/script.js') }}"></script>
<script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter27389819 = new Ya.Metrika({id:27389819, webvisor:true, clickmap:true, trackLinks:true, accurateTrackBounce:true}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/27389819" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
</body>
</html>